
$primaryColorLight: #59A5D8;
$primaryColorDark: #01295F;
$secondaryColor: #FF7D00;
$neutralColorOne: #C3DBC5;
$neutralColorTwo: #F4F3EE;
$mainWhite: #fff;
$offWhite: #f7f7f7;
$mainBlack: #222;
$mainGrey: #ececec;
$darkGrey: #cfcfcf;
$mainTransition: all 0.3s linear;
$mainSpacing: 2px;
$lighterShadow: 1px 3px 2px 0px rgba(0, 0, 0, 0.5);
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  